.section {      
    width: 50%;
    height: 40rem;
    border-radius: 2rem;
    background-color: #e8eaeb;  
    margin: 0 auto;
    padding: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.card {    
    border-radius: 1rem;
    padding: 1.5rem 8rem;
    margin-bottom: 1rem;
    display: flex;    
    justify-content: center;
    background-color: #181d31;
}


a {
    text-decoration: none;
    color: #fff;    
}