.mainContent {     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin: 3rem auto;

}

.card {
    width: 30%;
    margin: 0 auto;
    background-color: #e8eaeb;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card p {
    color: black;
    font-size: 16px;
    line-height: 1.5;
}

.card-left {
    background-color: #ffc107;
}

.card-right {
    background-color: #4caf50;
    color: white;
}
